<div class="row">
  <table class="table table-striped">
    <tr>
      <td></td><td>ユーザー</td><td>ツイート内容</td><td>投稿日</td><td>RT</td>
    </tr>
    <% @search_tweets.each.with_index(1) do|tweet, i| %>
        <tr>
          <td class="col-md-0.5"><%= i %>
          <td class="col-md-2"><%= link_to tweet.user.name %><%= render partial: '/layouts/other_user_icon', locals: {user: tweet.user, size: "20x20", klass: "margin_minus2" } %></td>
          <td class="col-md-6.5"><%= link_to tweet.text, tweet.url.to_s %></td>
          <td class="col-md-2"><%= tweet.created_at.in_time_zone('Tokyo').strftime('%Y年%m月%d日 %H:%M:%S') %></td>
          <td class="col-md-1"><%= link_to 'RT', top_retweet_path, class: 'btn', id: tweet.id %><%= social_share_button_tag(tweet.text) %>
          </td>
        </tr>
    <% end %>
  </table>
  <%= "#{@search_tweets.count}件取得しました。" %>
</div>