<h1><%= "My Tweet" %></h1>

<div class="container-fluid">
  <h1>My TimeLine</h1>
  <script src="clock.js.coffee"></script>
  <span id="clock_year"></span>
  <span id="clock_date"></span>
  <span id="clock_time"></span>
  <span id="clock_weeks"></span>

  <br>
  <%= link_to '更新', top_get_path %>

  <%= paginate(@my_tweets) %>

  <div class="row">
    <table class="table table-striped">
      <tr>
        <td>ツイート内容</td><td>投稿日</td>
      </tr>
      <% @my_tweets.each do |tweet| %>
        <tr>
          <td class="col-md-10"><%= link_to tweet.text, tweet.url.to_s %></td>
          <td class="col-md-2"><%= tweet.created_at.in_time_zone('Tokyo').strftime('%Y年%m月%d日 %H:%M:%S') %></td>
          <!--<td class="col-md-1"><%= link_to '削除', top_destroy_path, class: 'btn', tweet: tweet %></td>-->
        </tr>
      <% end %>
    </table>
  </div>
</div>