<h1><%= "Welcome to #{Settings.app_name}" %></h1>

<%= form_tag(tweet_path) do %>
    <%= text_area_tag :text %>
    <%= submit_tag 'ツイートする' %>
<% end %>

<%= form_tag({action: :search}, method: :get, remote: true, id: :search_form) do %>
    <%= text_field_tag :text %>
    <%= submit_tag '検索する' %>
<% end %>

<%= form_tag({action: :follower_check}, method: :get, remote: true, id: :search_form) do %>
    <%= text_field_tag :name,'', placeholder: 'ユーザー名を入力' %>
    <%= submit_tag 'フォロワーチェック' %>
<% end %>

<div id="search_table">
</div>
<div id="follower_table">
</div>

