<h1><%= "Welcome to #{Settings.app_name}" %></h1>

<%= form_tag(tweet_path) do %>
    <%= text_area_tag :text %>
    <%= submit_tag 'ツイートする' %>
<% end %>

<%= form_tag({action: :search}, method: :get, remote: true, id: :search_form) do %>
    <%= text_field_tag :text %>
    <%= submit_tag '検索する' %>
<% end %>

<div id="search_table">
</div>
